<div class="container">
  <div class="row">
    <!-- Conteúdo principal -->
    <div class="col-12 col-md-10 col-lg-6 mx-auto mt-5">
      <!-- Titulo -->
      <div class="text-md-start">
        <h1 class="fw-bold text-primary">
          Inserir Nova Sessão
        </h1>
        <hr />
      </div>

      <form [formGroup]="formSessao" class="mt-4">


        <div class="form-group mb-3 position-relative">
          <label class="form-label" for="titulo">Data</label>
          <input class="form-control text-bg-dark" formControlName="data" type="date"
            placeholder="Informe a data da sessão" [ngClass]="data?.touched && data?.invalid ? 'is-invalid' : ''">
          <div class="invalid-tooltip" *ngIf="data?.touched && data?.invalid">
            <span *ngIf="data?.errors?.['required']">A data precisa ser preenchida.</span>
          </div>
        </div>

        <div class="form-group mb-3 position-relative">
          <label class="form-label" for="titulo">Início</label>
          <input class="form-control text-bg-dark" formControlName="horarioInicio" type="time"
            placeholder="Informe a hora de início "
            [ngClass]="horarioInicio?.touched && horarioInicio?.invalid ? 'is-invalid' : ''">
          <div class="invalid-tooltip" *ngIf="horarioInicio?.touched && horarioInicio?.invalid">
            <span *ngIf="horarioInicio?.errors?.['required']">A hora de início precisa ser preenchida.</span>
          </div>
        </div>

        

        <div class="form-group mb-3 position-relative">
          <label class="form-label">Valor:</label>
          <input [ngClass]="valorIngresso?.touched && valorIngresso?.invalid ? 'is-invalid' : ''" currencyMask
            [options]="{  prefix: 'R$ ', thousands: '.', decimal: ',', align: 'left' }" formControlName="valorIngresso"
            class="form-control" type="text" placeholder="Digite o valor do ingresso" />
          <div class="invalid-tooltip" *ngIf="valorIngresso?.touched && valorIngresso?.invalid">
            <span *ngIf="valorIngresso?.errors?.['required']">O valor precisa ser preenchido.</span>
          </div>
        </div>


        <div class="form-group mb-3 position-relative">
          <label class="form-label">Tipo de Animação</label>
          <ng-select class="custom" [ngClass]="animacao?.touched && animacao?.invalid ? 'is-invalid' : ''"
            formControlName="animacao" [clearable]="false" [searchable]="false">
            <ng-option *ngFor="let tipo of tipoAnimacao ; index as i" [value]="i">
              {{ tipo }}
            </ng-option>
          </ng-select>
          <div class="invalid-tooltip" *ngIf="animacao?.touched && animacao?.invalid">
            <span *ngIf="animacao?.errors?.['required']">O tipo de animação precisa ser
              definido.</span>
          </div>
        </div>


        <div class="form-group mb-3 position-relative">
          <label class="form-label">Tipo de Audio</label>
          <ng-select class="custom" [ngClass]="audio?.touched && audio?.invalid ? 'is-invalid' : ''"
            formControlName="audio" [clearable]="false" [searchable]="false">
            <ng-option *ngFor="let tipo of tipoAudio ; index as i" [value]="i">
              {{ tipo }}
            </ng-option>
          </ng-select>
          <div class="invalid-tooltip" *ngIf="audio?.touched && audio?.invalid">
            <span *ngIf="audio?.errors?.['required']">O tipo de audio precisa ser
              definido.</span>
          </div>
        </div>

        <div class="form-group mb-3 position-relative">
          <label class="form-label">Filme</label>
          <ng-select class="custom" [ngClass]="filmeId?.touched && filmeId?.invalid ? 'is-invalid' : ''"
            formControlName="filmeId" [clearable]="false" [searchable]="false">
            <ng-option *ngFor="let filme of (filmes | async) ;" [value]="filme.id">
              <!-- Observables | async -->
              {{ filme.titulo }}
            </ng-option>
          </ng-select>
          <div class="invalid-tooltip" *ngIf="filmeId?.touched && filmeId?.invalid">
            <span *ngIf="filmeId?.errors?.['required']">O filme precisa ser definido.</span>
          </div>
        </div>


        <div class="form-group mb-3 position-relative">
          <label class="form-label">Sala</label>
          <ng-select class="custom" [ngClass]="salaId?.touched && salaId?.invalid ? 'is-invalid' : ''"
            formControlName="salaId" [clearable]="false" [searchable]="false">
            <ng-option *ngFor="let sala of (salas | async) ;" [value]="sala.id">
              <!-- Observables | async -->
              {{ sala.nome }}
            </ng-option>
          </ng-select>
          <div class="invalid-tooltip" *ngIf="salaId?.touched && salaId?.invalid">
            <span *ngIf="salaId?.errors?.['required']">O sala precisa ser definido.</span>
          </div>
        </div>



        <div class="card-footer g-grid d-flex gap-1 mt-5">
          <button (click)="gravar()" type="button" class="btn btn-primary px-5">
            <i class="pi pi-save me-2"></i>
            Gravar
          </button>
          <button routerLink="/sessoes/listar" type="button" class="btn btn-outline-primary px-5">
            <i class="pi pi-arrow-left me-2"></i>
            Voltar
          </button>
        </div>

      </form>
    </div>
  </div>
</div>
