<div class="container">
  <div class="row">
    <!-- Conteúdo principal -->
    <div class="col-12 col-md-10 col-lg-6 mx-auto mt-5">
      <!-- Titulo -->
      <div class="text-md-start">
        <h1 class="fw-bold text-dark">
          Inserir Novo Filme
        </h1>
        <hr />
      </div>

      <form [formGroup]="formFilme" class="mt-4">


        <div class="form-group mb-3 position-relative">
          <label class="form-label">Imagem:</label>
          <input class="form-control text-bg-dark " formControlName="imagem" type="text" placeholder="Insira uma imagem para o filme"
            [ngClass]="imagem?.touched && imagem?.invalid ? 'is-invalid' : ''">
          <div class="invalid-tooltip" *ngIf="imagem?.touched && imagem?.invalid">
            <span *ngIf="imagem?.errors?.['required']">A imagem precisa ser preenchida.</span>
          </div>
        </div>


        <div class="form-group mb-3 position-relative">
          <label class="form-label">Titulo:</label>
          <input [ngClass]="titulo?.touched && titulo?.invalid ? 'is-invalid' : ''" formControlName="titulo"
            class="form-control text-bg-dark" type="text" placeholder="Digite o titulo do filme" />
          <div class="invalid-tooltip" *ngIf="titulo?.touched && titulo?.invalid">
            <span *ngIf="titulo?.errors?.['required']">O titulo precisa ser preenchido.</span>
            <span *ngIf="titulo?.errors?.['minlength']">O titulo deve ter no mínimo 3 caracteres.</span>
          </div>
        </div>


        <div class="form-group mb-3 position-relative">
          <label class="form-label">Descrição:</label>
          <input [ngClass]="descricao?.touched && descricao?.invalid ? 'is-invalid' : ''" formControlName="descricao"
            class="form-control text-bg-dark" type="text" placeholder="Digite a descrição do filme" />
          <div class="invalid-tooltip" *ngIf="descricao?.touched && descricao?.invalid">
            <span *ngIf="descricao?.errors?.['required']">O descricao precisa ser preenchido.</span>
            <span *ngIf="descricao?.errors?.['minlength']">O descricao deve ter no mínimo 5 caracteres.</span>
          </div>
        </div>


        <div class="form-group mb-3 position-relative">
          <label class="form-label">Duração:</label>
          <input [ngClass]="duracao?.touched && duracao?.invalid ? 'is-invalid' : ''" formControlName="duracao"
            class="form-control text-bg-dark" type="time" placeholder="Digite a duração do Filme:" />
          <div class="invalid-tooltip" *ngIf="duracao?.touched && duracao?.invalid">
            <span *ngIf="duracao?.errors?.['required']">A duracao deve ser preenchida.</span>
          </div>
        </div>




        <div class="card-footer g-grid d-flex gap-1 mt-5">
          <button (click)="gravar()" type="button" class="btn btn-dark px-5">
            <i class="pi pi-save me-2"></i>
            Gravar
          </button>
          <button routerLink="/filmes/listar" type="button" class="btn btn-outline-dark px-5">
            <i class="pi pi-arrow-left me-2"></i>
            Voltar
          </button>
        </div>

      </form>
    </div>
  </div>
</div>
